MVVMLightFramework/Web References/WebService/CreateTask.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/createtask" targetNamespace="urn:microsoft-dynamics-schemas/page/createtask" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/createtask" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Correspondence_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Hard_Copy" />
          <xsd:enumeration value="Email" />
          <xsd:enumeration value="Fax" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Information_Flow">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Outbound" />
          <xsd:enumeration value="Inbound" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Initiated_By">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Us" />
          <xsd:enumeration value="Them" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Evaluation">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Very_Positive" />
          <xsd:enumeration value="Positive" />
          <xsd:enumeration value="Neutral" />
          <xsd:enumeration value="Negative" />
          <xsd:enumeration value="Very_Negative" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="CreateTask">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Wizard_Contact_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Interaction_Template_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Salesperson_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Language_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HTMLContentBodyText" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Correspondence_Type" type="tns:Correspondence_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Time_of_Interaction" type="xsd:time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Information_Flow" type="tns:Information_Flow" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Initiated_By" type="tns:Initiated_By" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Evaluation" type="tns:Evaluation" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Interaction_Successful" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cost_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Duration_Min" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Campaign_Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Campaign_Target" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Campaign_Response" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Opportunity_Description" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CreateTask_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="CreateTask" type="tns:CreateTask" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="CreateTask_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Wizard_Contact_Name" />
          <xsd:enumeration value="Interaction_Template_Code" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Salesperson_Code" />
          <xsd:enumeration value="Language_Code" />
          <xsd:enumeration value="HTMLContentBodyText" />
          <xsd:enumeration value="Correspondence_Type" />
          <xsd:enumeration value="Date" />
          <xsd:enumeration value="Time_of_Interaction" />
          <xsd:enumeration value="Information_Flow" />
          <xsd:enumeration value="Initiated_By" />
          <xsd:enumeration value="Evaluation" />
          <xsd:enumeration value="Interaction_Successful" />
          <xsd:enumeration value="Cost_LCY" />
          <xsd:enumeration value="Duration_Min" />
          <xsd:enumeration value="Campaign_Description" />
          <xsd:enumeration value="Campaign_Target" />
          <xsd:enumeration value="Campaign_Response" />
          <xsd:enumeration value="Opportunity_Description" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="CreateTask_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:CreateTask_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="CreateTask" type="tns:CreateTask" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:CreateTask_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:CreateTask_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CreateTask" type="tns:CreateTask" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CreateTask" type="tns:CreateTask" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CreateTask_List" type="tns:CreateTask_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CreateTask_List" type="tns:CreateTask_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <portType name="CreateTask_Port">
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
  </portType>
  <binding name="CreateTask_Binding" type="tns:CreateTask_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/createtask:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/createtask:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/createtask:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/createtask:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/createtask:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/createtask:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="CreateTask_Service">
    <port name="CreateTask_Port" binding="tns:CreateTask_Binding">
      <address location="http://192.168.0.192:7047/DynamicsNAV110/WS/ERPSPEZ/Page/CreateTask" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>